gateways:
  duckdb:
    connection:
      # For more information on configuring the connection to your execution engine, visit:
      # https://sqlmesh.readthedocs.io/en/stable/reference/configuration/#connections
      # https://sqlmesh.readthedocs.io/en/stable/integrations/engines/duckdb/#connection-options
      type: duckdb
      database: db_{{ env_var('TOSC_COUNTRY') }}.db
      extensions:
        - spatial
        - zipfs

variables:
  MAXIMUM_DISTANCE: 400
  MAX_NUMBER_OF_CANDIDATES_PER_QUAY: 8
  MODE_SIMILARITY_TRANSIT_MODE_UNKNOWN_OR_NOT_UNIQUE: 0.2
  MODE_SIMILARITY_OSM_MODE_UNKNOWN_OR_NOT_UNIQUE: 0.7
  NAME_SIMILARITY_OSM_NAME_EMPTY: 0.3
  MINIMUM_SUCCESSOR_SIMILARITY: 0.6
  MINIMUM_SUCCESSOR_PREDECESSOR_DISTANCE: 0.11

  TRANSIT_STOPS_SCHEMA: {{ env_var('TOSC_COUNTRY') }}

ignore_patterns:
  - models/at/*
  - models/ee/*
  - models/ie/*
  - models/se/*

default_gateway: duckdb

model_defaults:
  dialect: duckdb
  start: 2025-06-03
  
# Create tables instead of views, to avoid e.g. https://github.com/duckdb/duckdb/issues/6704
virtual_environment_mode: dev_only

disable_anonymized_analytics: true
