gateways:
  duckdb:
    connection:
      # For more information on configuring the connection to your execution engine, visit:
      # https://sqlmesh.readthedocs.io/en/stable/reference/configuration/#connections
      # https://sqlmesh.readthedocs.io/en/stable/integrations/engines/duckdb/#connection-options
      type: duckdb
      database: db.db
      # concurrent_tasks: 1
      # register_comments: True
      # pre_ping: False
      # pretty_sql: False
      # catalogs: 
      extensions:
        - spatial
        - zipfs
      # connector_config: 
      # secrets: 
      # token: 

variables:
  MAXIMUM_DISTANCE: 400
  MODE_SIMILARITY_TRANSIT_MODE_UNKNOWN_OR_NOT_UNIQUE: 0.2
  MODE_SIMILARITY_OSM_MODE_UNKNOWN_OR_NOT_UNIQUE: 0.7
  NAME_SIMILARITY_OSM_NAME_EMPTY: 0.3
  MINIMUM_SUCCESSOR_SIMILARITY: 0.6
  MINIMUM_SUCCESSOR_PREDECESSOR_DISTANCE: 0.11

default_gateway: duckdb

model_defaults:
  dialect: duckdb
  start: 2025-06-03

disable_anonymized_analytics: true
